<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hblend</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        [[js-tags]]
        [[css-tags]]
    </head>
    <body>

        <h1>Hblend</h1>

        <p>Hblend is a html, css and js preprocessor.</p>


        <h2>Libraries</h2>

        <p>Hblend organization contains graphic libraries ready to use. Please, take a look to <a href="/trunk/">trunk</a> library.</p>

    </body>
</html>